/*---------------------- CSS Chung ----------------------*/
body{
	margin:0;
	font-family:Arial, Helvetica, sans-serif;	
}
.contain-full{
	width:100%;
}
.sort{
	float:left;
	box-sizing:border-box;	
}
.contain-normal{
	width:50%;	
}
.contain-small{
	width:24%;	
}
.contain-small-7{
	width:65%;	
}
.contain-small-3{
	width:32%;	
}

header{
	width:100%;
	height:70px;
	position:fixed;
	z-index:999;
	background:#FFF;	
	color:#000;
}
footer{
	margin-top:50px;
	background:url(../img/bg-footer.png) center;
	color:#fff;	
}
.bor{
	border:2px solid red;
}
h4{
	margin-bottom:5px !important;	
}
ul{
	list-style:none;	
}
/*---------------------- End CSS Chung ----------------------*/


/*---------------------- Logo Hub and menu ----------------------*/
#logo-hublot{
	margin:7% 0;
}
#logo-hublot-ad{
	margin:5% 25% 0;
}

ul.menu{
	text-align:right;	
}
ul.menu > li:nth-child(n){
	display:inline-block;
	text-align:center;
	padding:3.9% 4% 0;
	text-transform:uppercase;
	height: 71px;
}
.link-home,
.link-pro,
.link-about,
.link-contact,
.link-new{
	color:#000;	
	font-size:12px;
	font-weight:600;
	transition:all 0.3s;
}
div.col-md-6 ul.menu li > a:hover{
	text-decoration:none;
	color:#F90;
}
.menu > li:nth-child(2){
	position:relative;
}
.menu > li:nth-child(2) .menu-child{
	position:absolute;
	top:70px;
	background:#FFF;
	width:172px;
	height:0px;
    transition:all 0.3s ease;
	overflow:hidden;
	border-top: 0px solid #F93;
	padding-left: 0;
}
.menu > li:nth-child(2):hover .menu-child{
	height: 165px;
	top:70px;
	border-top: 3px solid #F93;
}
.menu > li:nth-child(2) .menu-child > li:nth-child(n){
	padding:10px 0;	
	color:#000;
}
.menu > li:nth-child(2) .menu-child > li:nth-child(n) .link-child:after{
	content: "";
    display: block;
    width: 90%;
    background: #CCC;
    height: 1px;
    position: absolute;
    left: 6%;
    margin-top: 12px;
}
.menu-child > li:nth-child(n) a{
	color:#000;	
}
/*---------------------- End Logo hub and menu ----------------------*/


/*---------------------- Animation menu ----------------------*/
.sec-header-move{
	background:#000;
	color:#FFF;
	-webkit-animation:move-head 0.8s ease-out;
	animation:move-head 0.8s ease-out;	
}
.menu-move-new{
	color:#000;
}
.menu-move{
	color:#FFF;
}
.cart-white{
	color:#FFF;	
}
.cart-black{
	color:#000;	
}
@-webkit-keyframes move-head{
	from{
		margin-top:-4.4%;	
	}
	to{
		margin-top:0px;	
	}
}
.input-search{
	background:transpanrent;	
}
/*---------------------- End Animation menu ----------------------*/


/*---------------------- Search ----------------------*/
input[type="search"]:focus{
	outline:none;	
}
input[type="search"]{
	border:none;
	width:0%;	
	transition:all 0.5s;
	background:transparent;
}
.sec-search-cart span:hover > input{
	width:80%;
	border-bottom:1px solid #999;
}
.sec-search-cart form  span > button{
	border:none;
	background:transparent;
}
.sec-search-cart form  span  button > i{
	font-size:16px;
}
.sec-search-cart form  span > button:focus{
	outline:none;
}
.sec-search-cart .search{
	display:inline-block;
	margin-top:4.5%;
	width:65%;
	text-align:right;
	padding-right:2%;
}
/*---------------------- End Search ----------------------*/


/*---------------------- Login/Sign up and Cart ----------------------*/
.sec-search-cart,
.sec-search-cart .cart{
	position:relative;	
}
.sec-search-cart .user,
.sec-search-cart .cart{
	width:10%;
	display:inline-block;
	font-size:16px;
	text-align:center;
	min-height:40px;

}
.sec-search-cart .cart div{
	position: absolute;
    top: -8px;
    left: 70%;
    font-size: 13px;
}
.sec-search-cart .user:hover,
.sec-search-cart .cart:hover{
	cursor:pointer;

}
.sec-search-cart .user > div{
	position: absolute;
	top: 50%;
	width: 30%;
	left: 50%;
	height: 70px;
	transform: translate(15%,31%);
	border:1px solid #F7F7F7;
	border-top:3px solid #F90;
	transition:all 0.5s;
	opacity:0;
}
.sec-search-cart .user:hover > div{
	opacity:1;	
	-webkit-animation:log-sig 0.5s;
	animation:log-sig 0.5s;
}
@-webkit-keyframes log-sig{
	from {
		top:70%;
	}
	to{
		top:50%;
	}
}
.sec-search-cart .user > div div:nth-child(1){
	text-align:center;
	border-bottom:1px solid #F7F7F7;
	height:34px;
	padding: 6px 0;
	background:#FFF;	
}
.sec-search-cart .user > div div:nth-child(2){
	text-align:center;
	padding: 6px 0;
	background:#FFF;
}
.sec-search-cart .user > div div:nth-child(1) .link-log,
.sec-search-cart .user > div div:nth-child(2) .link-sig{
	color:#000;
	transition:all 0.2s;
}
.sec-search-cart .user > div div:nth-child(1) .link-log:hover,
.sec-search-cart .user > div div:nth-child(2) .link-sig:hover{
	text-decoration:none;
	color:#C63;
}

/*---------------------- End Login/Sign up and Cart ----------------------*/


/*---------------------- Slide Banner ----------------------*/
.carousel-inner{
	height:730px;
}
.sec-slide{
	margin-top:20px;	
}
.carousel-indicators .active{
	background-color:#F96 !important;
}
/*---------------------- End Slide Banner ----------------------*/


/*---------------------- Create Tab ----------------------*/
.tab_content{
	margin-left:7px;	
}
#tab1 > div:nth-child(2),
#tab1 > div:nth-child(3),
#tab1 > div:nth-child(6),
#tab1 > div:nth-child(7),
#tab2 > div:nth-child(2),
#tab2 > div:nth-child(3),
#tab2 > div:nth-child(6),
#tab2 > div:nth-child(7),
#tab3 > div:nth-child(2),
#tab3 > div:nth-child(3),
#tab3 > div:nth-child(6),
#tab3 > div:nth-child(7){
	margin-left:16px;
}
#tab1 div:nth-child(4),
#tab1 div:nth-child(8),
#tab2 div:nth-child(4),
#tab2 div:nth-child(8),
#tab3 div:nth-child(4),
#tab3 div:nth-child(8){
	margin-left:13px;	
}
#tab1 > div:nth-child(n),
#tab2 > div:nth-child(n),
#tab3 > div:nth-child(n){
	margin-top:24px;
	text-align:center;
	margin-left: 9px;	
}
ul.tabs .active{
	color:#f69e22;
	transition:all 0.2s;	
}
ul.tabs{
	list-style:none;
	margin:0px;	
	text-align:center;
	position:relative;
}
ul.tabs > span{
	margin-left: 6px;
	font-size: 17px;	
}
ul.tabs > li:hover{
	color:#f69e22;
	cursor:pointer;	
}
ul.tabs > li{
	text-transform:uppercase;	
	display:inline-block;
	font-size:19px;
	margin-left:6px;
	transition:all 0.4s;
}
ul.tabs > li:nth-child(2){
	position:relative;	
}
ul.tabs > li:nth-child(1):before{
	border-top: 1px solid #DADADA;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 100%;
    bottom: 0;
    width: 36.2%;
    z-index: -1;
}
ul.tabs > li:nth-child(3):after{
	border-top: 1px solid #DADADA;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left:68%;
    right: 0;
    bottom: 0;
    width: 33%;
    z-index: -1;
}
.sec-tab{
	margin-top:5%;	
}

/*---------------------- End Create Tab ----------------------*/


/*---------------------- Create Sec Product ----------------------*/
#tab1 .sec-product,
#tab2 .sec-product,
#tab3 .sec-product{
	position:relative;
	background:#EBEBEB;	
}
#tab1 .sec-product > div:nth-child(2),
#tab1 .sec-product > div:nth-child(3),
#tab2 .sec-product > div:nth-child(2),
#tab2 .sec-product > div:nth-child(3),
#tab3 .sec-product > div:nth-child(2),
#tab3 .sec-product > div:nth-child(3){
	position: absolute;
	left:6%;
	bottom: 6%;
	right: 0;
	height: 23%;
	width: 88%;
	background: rgba(119, 119, 119, 0.68);
	color:#FFF;
	font-size:18px;
	transition:all 0.5s;
}
#tab1 .sec-product > div:nth-child(3),
#tab2 .sec-product > div:nth-child(3),
#tab3 .sec-product > div:nth-child(3){
	opacity:0;	
}
#tab1 .sec-product > div:nth-child(2) p,
#tab2 .sec-product > div:nth-child(2) p,
#tab3 .sec-product > div:nth-child(2) p{
	color:#F90;
}
#tab1 .sec-product > div:nth-child(3) div.col-md-5,
#tab2 .sec-product > div:nth-child(3) div.col-md-5,
#tab3 .sec-product > div:nth-child(3) div.col-md-5{
	margin:20px 0 0 12px;;
	border:1px solid #FFF;
}
#tab1 .sec-product > div:nth-child(3) div.col-md-5 a,
#tab2 .sec-product > div:nth-child(3) div.col-md-5 a,
#tab3 .sec-product > div:nth-child(3) div.col-md-5 a{
	color:#FFF;	
}
#tab1 .sec-product > div:nth-child(3) div.col-md-5 a:hover,
#tab2 .sec-product > div:nth-child(3) div.col-md-5 a:hover,
#tab3 .sec-product > div:nth-child(3) div.col-md-5 a:hover{
	text-decoration:none;	
}
#tab1 .sec-product > div:nth-child(3) div.col-md-5:hover,
#tab2 .sec-product > div:nth-child(3) div.col-md-5:hover,
#tab3 .sec-product > div:nth-child(3) div.col-md-5:hover{
	background:#F93;
	border:1px solid #F93;
}
#tab1 .sec-product:hover > div:nth-child(2),
#tab2 .sec-product:hover > div:nth-child(2),
#tab3 .sec-product:hover > div:nth-child(2){
	opacity:0;
}
#tab1 .sec-product:hover > div:nth-child(3),
#tab2 .sec-product:hover > div:nth-child(3),
#tab3 .sec-product:hover > div:nth-child(3){
	opacity:1;	
}
#tab1 .sec-product > span {
	background: #000;
    color: #FFF;
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 17%;
    height: 30px;
    padding: 5px;	
}
/*--------------------------- End Create Sec Product ----------------------*/


/*------------------------------ Các Chính Sách ---------------------------*/
.sec-note{
	position:relative;
	min-height:82px;
	margin-top:6%;
	border:1px solid #EBEBEB;	
}
.sec-note > div{
	min-height:80px;
	position:absolute;
	top:-20px;
	width:100%;
	background:#fff;
	border:1px solid #CCC;	
}
.sec-note > div .back-money,
.sec-note > div .free-ship,
.sec-note > div .sale,
.sec-note > div .service{
	display:flex;
	min-height:100%;
	margin:9px 0;
	padding-left: 33px;	
}
.sec-note > div .back-money div:nth-child(1),
.sec-note > div .free-ship div:nth-child(1),
.sec-note > div .sale div:nth-child(1),
.sec-note > div .service div:nth-child(1){
	background: #DFDFDF;
	border-radius: 100%;
	width: 24%;
	min-height: 56px;
	text-align: center;
	margin: 5px 0;	
	transition:all 0.4s;
}
.sec-note > div .back-money div:nth-child(1) i,
.sec-note > div .free-ship div:nth-child(1) i,
.sec-note > div .sale div:nth-child(1) i,
.sec-note > div .service div:nth-child(1) i{
	font-size:21px;
	padding: 19px;	
	transition:all 0.4s;
}
.sec-note > div .back-money div:nth-child(2),
.sec-note > div .free-ship div:nth-child(2),
.sec-note > div .sale div:nth-child(2),
.sec-note > div .service div:nth-child(2){
	margin:15px 12px;
}
.sec-note > div .back-money:hover div:nth-child(1) i,
.sec-note > div .free-ship:hover div:nth-child(1) i,
.sec-note > div .sale:hover div:nth-child(1) i,
.sec-note > div .service:hover div:nth-child(1) i{
	color:#fff;	
}
.sec-note > div .back-money:hover div:nth-child(1),
.sec-note > div .free-ship:hover div:nth-child(1),
.sec-note > div .sale:hover div:nth-child(1),
.sec-note > div .service:hover div:nth-child(1){
	background:#F93;	
}
.sec-note > div .back-money div:nth-child(2) strong,
.sec-note > div .free-ship div:nth-child(2) strong,
.sec-note > div .sale div:nth-child(2) strong,
.sec-note > div .service div:nth-child(2) strong{
	transition:all 0.3s ease-in;	
}
.sec-note > div .back-money div:nth-child(2) strong:hover,
.sec-note > div .free-ship div:nth-child(2) strong:hover,
.sec-note > div .sale div:nth-child(2) strong:hover,
.sec-note > div .service div:nth-child(2) strong:hover{
	color:#F93;
	cursor:pointer;
}
/*------------------------------ End Các Chính Sách ----------------------*/

/*------------------------------ News -----------------------------*/
.sec-news{
	margin-top:5%;	
}
.sec-news .sec-title-news{
	position:relative;
	text-transform:uppercase;
	text-align:center;
	font-size:19px;
}
.sec-news .sec-title-news:before{
	border-top: 1px solid #DADADA;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 0;
    right: 100%;
    bottom: 0;
    width: 42.2%;
    z-index: -1;
}
.sec-news .sec-title-news:after{
	border-top: 1px solid #DADADA;
    content: "";
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 57.4%;
    right: 0;
    bottom: 0;
    width: 43%;
    z-index: -1;
}
.sec-content-news{
	margin-left:2px;
}
.sec-content-news .owl-carousel{
	margin:25px 0px 0px;	
}
.sec-content-news .owl-carousel .item-news .img-news{
	overflow:hidden;
	position:relative;	
}
.sec-content-news .owl-carousel .item-news .img-news > div{
	position:absolute;
	z-index:40;
	top:3%;
	bottom:0;
	right:0;
	left:2%;
	background:#FFF;
	width:14%;
	height:20%;
	text-align:center;
	font-weight:bold;
}
.sec-content-news .owl-carousel .item-news .img-news > div span:nth-child(1){
	margin:3px 0;
	font-size:20px;
	display:block;	
}
.sec-content-news .owl-carousel .item-news .img-news > div span:nth-child(2){
	font-size:11px;
	display:block;
	margin-top:-6px;	
}
.sec-content-news .owl-carousel .item-news .img-news img{
	transform:scale(1,1);
	transition:all 0.3s;
}
.sec-content-news .owl-carousel .item-news .img-news img:hover{
	transform:scale(1.2,1.2);		
}
.sec-content-news .owl-carousel .item-news .content-news h3{
	font-size: 18px;
	font-weight: bold;
	text-align: justify;
}
.sec-content-news .owl-carousel .item-news .content-news h3 a{
	color:#000;	
	transition:all 0.3s;
}
.sec-content-news .owl-carousel .item-news .content-news h3 a:hover{
	color:#F93;
	text-decoration:none;	
}
.sec-content-news .owl-carousel .item-news .content-news div{
	text-align: justify;
	line-height: 20px;
}

/*------------------------------ End News -----------------------------*/


/*------------------------------ Contact and Chính Sách -----------------------------*/
.contact h3,
.danhmuc h3,
.chinhsach h3,
.help-cus h3{
	position:relative;
	font-size:20px;
}
.contact h3:before,
.danhmuc h3:before,
.chinhsach h3:before,
.help-cus h3:before{
	content: "";
    display: block;
    width: 53px;
    height: 2px;
    position: absolute;
    background: #F93;
    top: 32px;
	bottom:0;
	left:0;
}
.contact > p i{
	font-size:17px;	
}
.contact > p span{
	margin-left:5px;	
}
.contact .icon{
	display: inline-block;
    border: 1px solid white;
    width: 35px;
    text-align: center;
    height: 35px;
    font-size: 14px;
    padding: 10px 0;
    border-radius: 100%;
	transition:all 0.4s;
		
}
.contact .icon:hover{
	background:#F93;
	border: 1px solid #F93;
	cursor:pointer;	
}
.contact > p:nth-child(2){
	margin-top:22px;	
}
.contact > p:nth-child(n+3){
	margin-top:15px;
}
.icon-arrow:before{
	content: "\f0da";
    font-family: 'FontAwesome';
    font-size: 10px;
    padding-right: 7px;
}
.danhmuc ul li .icon-arrow:before,
.chinhsach ul li .icon-arrow:before,
.help-cus ul li .icon-arrow:before{
	transition:all 0.4s;
	color:#FFF;
}
.danhmuc ul,
.chinhsach ul,
.help-cus ul{
	list-style:none;
	line-height: 28px;
	padding: 0;
	margin-top: 20px;
}
.danhmuc ul li a,
.chinhsach ul li a,
.help-cus ul li a{
	color:#FFF;
	transition:all 0.4s;	
}
.danhmuc ul li a:hover,
.chinhsach ul li a:hover,
.help-cus ul li a:hover{
	text-decoration:none;
	color:#F93;
}
.danhmuc ul li a:hover.icon-arrow:before,
.chinhsach ul li a:hover.icon-arrow:before,
.help-cus ul li a:hover.icon-arrow:before{
	padding-left:10px;
	color:#F93;
}
/*------------------------------ End Contact and Chính Sách -----------------------------*/


/*------------------------------ Up To Top -----------------------------*/
.lendt{
	position:fixed;
	bottom:10%;
	right:0	;
}
/*------------------------------ End Up To Top -----------------------------*/


/*------------------------------ Opinion Client -----------------------------*/
.opinion-client{
	margin-top:5%;
	background:url(../img/client-ideal.jpg) center;
	height:70vh;
	overflow:hidden;
	position:relative;
	background-attachment: fixed;
	background-size: cover;	
}
.opinion-client:after{
	position:absolute;
	content:"";
	display:block;
	top:0;
	left:0;
	right:0;
	bottom:0;
	height:100%;
	width:100%;
	background:#000;
	opacity:0.7;
}
.opinion-client .content-opinion{
	color:#FFF;
	border:1px solid white;
	position:relative;
	height:27vh;
	margin: 7% 9%;
}
.opinion-client .content-opinion div{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	text-align: center;
	line-height: 28px;
	font-size: 16px;	
}
.opinion-client .content-opinion:before{
	content: "\f10d";
    font-family: 'FontAwesome';
    position: absolute;
    top: -28px;
    left: 50%;
    line-height: 55px;
    font-size: 20px;
    color: #fff;
    width: 55px;
    height: 55px;
    border: 1px solid #fff;
    border-radius: 50%;
    background-color: #000;
    -ms-transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
	text-align:center;	
}
.opinion-client .content-opinion:after{
	top: 100%;
    left: 50%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    display: block !important;
    position: absolute;
    pointer-events: none;
    border-color: rgba(39, 174, 97, 0);
    border-top-color: #fff;
    border-width: 10px;
    margin-left: -10px;
}
.opinion-client .owl-opinion .item-opinion .img-opinon{
	border: 1px solid white;
    border-radius: 100%;
    margin: -5% 0 0 45.7%;
}
.opinion-client .owl-opinion .item-opinion .img-opinon img{
	border-radius: 100%;
	padding: 7px;
}
.opinion-client .owl-opinion .item-opinion .name-client{
	text-align:center;
	color:#FFF;	
}
.opinion-client .owl-opinion .item-opinion .name-client h4{
	padding: 0.8% 0 0 2%;;
}
.opinion-client .owl-opinion .item-opinion .name-client p{
	padding-left: 1.7%;
}
/*------------------------------ End Opinion Client -----------------------------*/


/*------------------------------ About us -----------------------------*/
.wrapper {
    height: 100%;
    margin: 0 auto; 
}
.page1 .sec-craft,
.page2 .sec-craft,
.page3 .sec-craft,
.page4 .sec-craft,
.page5 .sec-craft{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	min-height:200px;
}
.page1 .sec-craft h2{
	color:#999;
	text-align:center;
	opacity:0;
}
.page2 .sec-craft h2,
.page3 .sec-craft h2,
.page4 .sec-craft h2,
.page5 .sec-craft h2{
	color:#999;
	text-align:center;
}

.page1 .sec-craft p{
	color:#FFF;
	font-size: medium;
	text-align: center;
	padding: 18px 0;
	position:relative;	
	font-weight:bold;
	height: 76px;
	opacity:0;	
}
.page2 .sec-craft p,
.page3 .sec-craft p,
.page4 .sec-craft p,
.page5 .sec-craft p{
	color:#FFF;
	font-size: medium;
	text-align: center;
	padding: 18px 0;
	position:relative;	
	font-weight:bold;
	height: 76px;	
}

.js-animate-title{
	animation:title-craft 2s;
}
@-webkit-keyframes title-craft{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}
.page1 .sec-craft p:after{
	content: "";
    display: block;
    height: 4.5px;
    width: 58px;
    background: #de2b2b;
    position: absolute;
    top: 100%;
    left: 47.7%;
	animation:under 2s;
}
@-webkit-keyframes under{
	from{
		transform:scaleX(0);
	}
	to{
		transform:scaleX(1)	
	}
}
.page1 .sec-craft div:nth-child(3),
.page2 .sec-craft div:nth-child(3),
.page3 .sec-craft div:nth-child(3),
.page4 .sec-craft div:nth-child(3),
.page5 .sec-craft div:nth-child(3){
	position:relative;
	color: #FFF;
	font-size: 63px;
	text-align: center;
	border: 7px solid #de2b2b;
	width:73%;
	font-weight:600;
	margin: 6% 14%;
	animation:craft-ani 1s;	
}
.page2 .sec-craft div:nth-child(3),
.page3 .sec-craft div:nth-child(3),
.page4 .sec-craft div:nth-child(3),
.page5 .sec-craft div:nth-child(3){
	margin: 0% 14%;	
}
@-webkit-keyframes craft-ani{
	from{
		top:-40px;
		opacity:0;	
	}
	to{
		top:0px;
		opacity:1;	
	}
}
.page2 .sec-craft div:nth-child(3),
.page3 .sec-craft div:nth-child(3),
.page4 .sec-craft div:nth-child(3),
.page5 .sec-craft div:nth-child(3){
	border: 8px solid rgba(255,255,255,0.15);	
}
.page2 .sec-craft .sec-button-page2,
.page3 .sec-craft .sec-button-page3,
.page4 .sec-craft .sec-button-page4,
.page5 .sec-craft .sec-button-page5{
	text-align:center;	
}
.page2 .sec-craft .sec-button-page2 button,
.page3 .sec-craft .sec-button-page3 button,
.page4 .sec-craft .sec-button-page4 button,
.page5 .sec-craft .sec-button-page5 button{
	border: 1px solid #666;
	background: transparent;
	color: #FFF;
	width: 20%;
	height: 36px;
	font-size: medium;
	transition:all 0.3s;
	margin-top:5%;	
}
.page2 .sec-craft .sec-button-page2 button:hover,
.page3 .sec-craft .sec-button-page3 button:hover,
.page4 .sec-craft .sec-button-page4 button:hover,
.page5 .sec-craft .sec-button-page5 button:hover{
	border-color:#fff;	
}
.page2 .detail-about-page2,
.page3 .detail-about-page3,
.page4 .detail-about-page4,
.page5 .detail-about-page5{
	position:absolute;
	top:40px;
	left:0;
	background:#FFF;
	height:100%;
	z-index:900;
	overflow:scroll;
	transform:scaleY(0);
	transition:all 0.5s;
}
.page2 .detail-about-page2 h1,
.page3 .detail-about-page3 h1,
.page4 .detail-about-page4 h1,
.page5 .detail-about-page5 h1{
	font-size:40px;
	text-align:center;
	margin-top: 4%;
	position:relative;	
	font-weight:bold;
}
.page2 .detail-about-page2 h1:after,
.page3 .detail-about-page3 h1:after,
.page4 .detail-about-page4 h1:after,
.page5 .detail-about-page5 h1:after{
	content:"";
	display:block;
	position:absolute;
	top:72px;
	left:48.4%;
	height:4px;
	width:52.7px;
	background:#de2b2b;
}
.page2 .detail-about-page2 > div:nth-child(2),
.page3 .detail-about-page3 > div:nth-child(2),
.page4 .detail-about-page4 > div:nth-child(2),
.page5 .detail-about-page5 > div:nth-child(2){
	text-align: center;
    font-size: 25px;
    width: 45%;
    margin: 5% 28.1%;
    color: #666;
}
.page2 .detail-about-page2 > div:nth-child(3) span,
.page3 .detail-about-page3 > div:nth-child(3) span,
.page4 .detail-about-page4 > div:nth-child(3) span,
.page5 .detail-about-page5 > div:nth-child(3) span{
	font-size: 19px;
    color: #666;
    line-height: 30px;	
}
.show-detail-about{
	transform:scale(1);
	transition:all 0.5s;	
}
/*------------------------------ End About us -----------------------------*/


/*------------------------------ Contact Us -----------------------------*/
.sec-map,
.sec-title-product-2{
	margin-top:4.5%;
	height:234px;
	background:url(../img/contact1.jpg) no-repeat;
	background-position: center -503px;
	position:relative;
}
.sec-map:before,
.sec-title-product-2:before{
	content:"";
	display:block;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.4);	
}
.sec-map > div,
.sec-title-product-2 > div{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);	
}
.sec-map > div h1,
.sec-title-product-2 > div h1{
	color:#FFF;
	text-align:center;	
}
.sec-map > div ol li a,
.sec-title-product-2 > div ol li a{
	color:#FFF;	
}
.sec-map > div ol li a:hover,
.sec-title-product-2 > div ol li a:hover{
	text-decoration:none;
	color:#F93;	
}
.breadcrumb>.active{
	color:#F93 !important;	
}
.sec-contact,
.sec-news-2{
	margin:2% 13% !important;	
}
/*------------------------------ End Contact Us -----------------------------*/

/*------------------------------ News -----------------------------*/
.breadcrumb>li+li:before{
	content: "\f101" !important;
    font: normal normal normal 14px FontAwesome;
}
.sec-news-2 > div:nth-child(1){
	min-height:300px;
	width:68%;
	position:relative;	
}
.sec-news-2 > div:nth-child(1):before{
	content:"";
	display:block;
	height:100%;
	width:1px;
	position:absolute;
	top:0;
	left:97%;
	background:#e1e1e1;	
}
.sec-news-2 > div:nth-child(1) > div:nth-child(n){
	width:45%;
	border:1px solid #CCC;	
}
.sec-news-2 > div:nth-child(1) > div:nth-child(n+3){
	margin-top:4%;	
}
.sec-news-2 > div:nth-child(1) > div:nth-child(2n+2){
	margin-left:4%;
}
.sec-news-2 > div:nth-child(1) > div:nth-child(n) .sec-content-news .news-title{
	font-size:19px;	
}
.sec-news-2 > div:nth-child(1) > div:nth-child(n) .sec-content-news .news-title a{
	color:#000;
	transition:all 0.3s ease-out;
}
.sec-news-2 > div:nth-child(1) > div:nth-child(n) .sec-content-news .news-title a:hover{
	color:#F93;
	text-decoration:none;
}
.sec-news-2 .sec-news-popular{
	min-height:100px;
	width:32%;	
}
.sec-news-2 .sec-news-popular > div:nth-child(n){
	margin-top:10px;
	position:relative;
}
.sec-news-2 .sec-news-popular > div:nth-child(n+2){
	margin-top:25px;	
}
.sec-news-2 .sec-news-popular > div:nth-child(n):after{
	content:"";
	display:block;
	position:absolute;
	top:92px;
	left:0;
	width:100%;
	height:1px;
	background:#e1e1e1;	
}
.sec-news-2 .sec-news-popular > div:nth-child(n) .content-popular{
	padding-left:10px;	
}
.sec-news-2 .sec-news-popular > div:nth-child(n) .content-popular a{
	color:#000;
	transition:all 0.3s;
	font-weight:bold;	
}
.sec-news-2 .sec-news-popular > div:nth-child(n) .content-popular a:hover{
	color:#F93;
	text-decoration:none;
}
.sec-news-2 .sec-news-equal{
	margin-top:40px;	
}
.sec-news-2 .sec-news-equal h3{
	margin:0;	
}
.sec-news-2 .sec-news-equal ul{
	padding:0;
	margin-top:15px;
}
.sec-news-2 .sec-news-equal ul li{
	margin-top:10px;	
}
.sec-news-2 .sec-news-equal ul li a{
	color:#000;
	transition:all 0.3s;
}
.sec-news-2 .sec-news-equal ul li a:hover{
	color:#F93;
	text-decoration:none;
}
/*------------------------------ End News -----------------------------*/

/*------------------------------ Product -----------------------------*/
.sec-product-2{
	margin: 2% 12.6% ;
	width:75%;
}
.sec-product-2 .sec-search-product-price{
	margin-top:20px;
}
.sec-product-2 .sec-list-product .list-title,
.sec-product-2 .sec-search-product-price .list-title{
	background:#F93;
	color:#FFF;
	font-size:19px;
	text-align:center;
	padding:8px 0;
	font-weight:600;
}
.sec-product-2 .sec-list-product .list-manufacturer,
.sec-product-2 .sec-search-product-price .search-price{
	border:1px solid #CCC;border-top:none
}
.sec-product-2 .sec-list-product .list-manufacturer ul li{
	padding-top:10px;	
	font-size:14px;
	transition:all 0.4s;
}
.sec-product-2 .sec-list-product .list-manufacturer ul li a{
	color:#000;
	transition:all 0.4s;
	text-transform:uppercase;	
}
.sec-product-2 .sec-list-product .list-manufacturer ul li a:hover{
	color:#F93;
	text-decoration:none;
}
.sec-product-2 .sec-list-product .list-manufacturer ul li a:hover{
	padding-left:10px;	
}
.sec-product-2 .sec-list-product .all-product .sec-product{
	margin-left:10px !important;	
}
/*------------------------------ End Product -----------------------------*/


/*------------------------------ Detail product -----------------------------*/
.sec-product-2 .sec-info .sec-info-detail{
	margin-left:20px;
	line-height:30px;
	font-size:medium;	
}
.sec-product-2 .sec-info .sec-info-detail .info-manu span,
.sec-product-2 .sec-info .sec-info-detail .info-desc{
	color:#757575;
}
.sec-product-2 .sec-info .sec-info-detail .info-desc strong{
	color:#000;	
}
.sec-product-2 .sec-info .sec-info-detail .info-status span{
	background: #F93;
	font-size: smaller;
	width: 77px;
	height: 24px;
	color: white;
	border-radius: 13px;
	display: inline-block;
	text-align: center;	
}
.sec-product-2 .sec-info .sec-info-detail .info-price{
	position:relative;	
	min-height:54px;
}
.sec-product-2 .sec-info .sec-info-detail .info-price:after{
	display:block;
	content:"";
	position:absolute;
	top:100%;
	left:0;
	height:1px;
	width:100%;
	background:#EEE;
		
}
.sec-product-2 .sec-info .sec-info-detail .info-price span{
	color:#F00;
	font-size:30px;	
}
.sec-product-2 .sec-info .sec-info-detail  .info-btn{
	background: white;
	border: 1px solid #ccc;
	width: 38%;
	margin-left: 14px;
	height: 36px;	
	transition:all 0.4s;
}
.sec-product-2 .sec-info .sec-info-detail .info-btn:hover{
	color:#FFF;
	background:black;	
}
.sec-product-2 .sec-info .sec-info-bar{
	margin-top:5%; 	
}
.sec-product-2 .sec-info .sec-relate{
	margin-top:5%;
}
.sec-product-2 .sec-info .sec-relate h3{
	position:relative;
	min-height:28px;
}
.sec-product-2 .sec-info .sec-relate h3:after{
	position:absolute;
	display:block;
	content:"";
	top:100%;
	left:0;
	width:28%;
	height:2px;
	background:#F93;	
}
.sec-product-2 .sec-info .sec-relate .item .sec-product{
	margin:0 !important;	
}
/*------------------------------ End Detail product -----------------------------*/


/*------------------------------ Login -----------------------------*/
.sec-login,
.sec-new-customer{
	margin-top:40px;
	position:relative;	
}
.sec-login > div:nth-child(1),
.sec-new-customer > div:nth-child(1){
	border:1px solid #EAEAEA;
	min-height:150px;
	width:95%;
	padding-left:15px;
	padding-top:10px;
	line-height:30px;
		
}
.sec-login > div:nth-child(1) .sec-id-pass .pass,
.sec-login > div:nth-child(1) .sec-id-pass .txt-pass{
	margin-top:20px;	
}
.sec-login > div:nth-child(1) .sec-id-pass .forget-pass,
.sec-login > div:nth-child(1) .sec-id-pass .log-btn{
	margin-top:10px;	
}
.sec-login > div:nth-child(1) .sec-id-pass .forget-pass a{
	color:#8484FF;	
	transition:all 0.3s;
}
.sec-login > div:nth-child(1) .sec-id-pass .forget-pass a:hover{
	color:#F93;
	text-decoration:none;	
}
.sec-login > div:nth-child(1) .sec-id-pass .log-btn{
	margin-bottom:10px;	
}
.sec-login > div:nth-child(1) .sec-id-pass .log-btn .login-btn,
.sec-sign .row form > div:last-child .sign-btn{
	border:1px solid #ccc;
	background: transparent;
	width: 31%;
	transition:all 0.4s;	
}
.sec-login > div:nth-child(1) .sec-id-pass .log-btn .login-btn:hover,
.sec-new-customer > div:nth-child(1) a:hover,
.sec-sign .row form > div:last-child .sign-btn:hover{
	background:#000;
	color:#FFF;
	border-color:#000;
	text-decoration:none
}
/*------------------------------ End Login -----------------------------*/


/*------------------------------ New Customer -----------------------------*/
.sec-new-customer > div:nth-child(1) a{
	border: 1px solid #ccc;
	width: 25%;
	display: block;
	text-align: center;
	height: 32px;
	color: black;
	margin-bottom: 20px;
	transition:all 0.3s;	
}
/*------------------------------ End New Customer -----------------------------*/

/*------------------------------ Sign up -----------------------------*/
.sec-sign{
	margin: 25px 34%;
	border:1px solid #E5E5E5;	
}
.sec-sign .row form > div:nth-child(n){
	margin-top:20px;	
}
.sec-sign .row form > div:last-child .sign-btn{
	height:33px;	
}
/*------------------------------ End Sign up -----------------------------*/


/*------------------------------ Cart -----------------------------*/
.sec-cart > div:nth-child(1) table{
	margin-top: 3%;	
}
.sec-cart > div:nth-child(1) a{
	color:#00F;
	transition:all 0.3s;	
}
.sec-cart > div:nth-child(1) a:hover{
	color:#F93;
	text-decoration:none;
}
.sec-cart > div:nth-child(2){
	margin-top: 1%;
	text-align:right;	
}
.sec-cart > div:nth-child(2) .btn-cart{
	background: transparent;
    border: 1px solid #ccc;
    width: 18%;
    height: 32px;
	transition:all 0.3s;
}
.sec-cart > div:nth-child(2) .btn-cart:hover{
	background:#000;
	color:#FFF;
	border-color:#000;	
}
/*------------------------------ End Cart -----------------------------*/


/*------------------------------ Login admin -----------------------------*/
.sec-log-ad{
	position:absolute;
	top:50%;
	left:50%;
	transform:translate(-50%,-50%);
	border:1px solid #DBDBDB;
	min-height:200px;	
}
.sec-log-ad > div:nth-child(2){
	padding:10px;	
}
.sec-log-ad > div:nth-child(2) div:nth-child(n+3){
	margin-top:12px;	
}
/*------------------------------ End Login admin -----------------------------*/
